# Dynamic image optimization is not in scope for the 2026 pilot. Omitting
# optional dependencies prevents Next's optional Sharp/libvips binaries from
# entering local, CI, or production installs without a license exception.
omit=optional
